<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ToDo List app</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <h1>ToDo List!</h1>
  <form name="todos" action="/update" method="POST">
    <!--Go through todos and check to see if they are checked.  -->
    {{#todos}}
    <input type="checkbox" name="todo" value="{{todoid}}" {{#status}}checked{{/status}}>{{task}}<br>
    {{/todos}}
    <input type="text" name="newtodo" placeholder="New ToDo">
    <button type="submit" name="submit">Update</button>
  </form>
</body>

</html>